<div class="form-group">
  <%= form_with model: post do |f| %>
    <%= f.label :地域を選択 %><br>
    <%= f.collection_select(:prefecture_id, Prefecture.where(id: @prefecture), :id, :name, {class:"select-box", id:"item-prefecture"}) %>
    <%= f.collection_select(:city_id, City.where(prefecture_id: @prefecture), :id, :name, {selected: params[:city_id]}, {class:"select-box", id:"item-city"}) %><br>
    <%= f.label :タイトル %><br>
    <%= f.text_field :title %><br>
    <%= f.label :内容 %><br>
    <%= f.text_area :body %><br>
    <%= f.submit"投稿" %>
  <% end %>
</div>