<div class="mt-2">
  <% if member_signed_in? %>
    <div class="mb-2 text-center">
      <%= link_to image_tag(member.get_profile_image, size: '100x100', style: "border-radius: 50px;"), member_path(member.id) %>
      <%= link_to member.name, member_path(member.id) %>
    </div>
    <%= link_to "フォロー: " + member.followings.count.to_s, member_followings_path(member.id) %>
    <%= link_to "フォロワー: " + member.followers.count.to_s, member_followers_path(member.id) %><br>
    <%= render "public/shared/follow_btn", member: member %>
    <% if current_member != member && current_member.following?(member) && member.following?(current_member) %>
      <%= link_to 'chatを始める', chat_path(member.id), class: "ml-3" %>
    <% end %>
    <% if current_member == member && member.name != "guest_member" %>
      <div>
        <%= link_to "プロフィール編集", edit_member_path(member.id) %>
      </div>
    <% end %>
    <%=link_to"お気に入り記事",favorites_member_path(member) %>
    <!--URLにcity_idが含まれる時のみ投稿フィールドを表示-->
    <% if request.parameters.include?("city_id") %>
      <%= render "public/shared/form", post: @post %>
    <% end %>

  <% elsif admin_signed_in? %>
    <p>管理者にてログイン中</p>

  <% else %>
    <p>
      初めてご利用される方は
      <%= link_to "こちら", root_path %>
      から利用方法を閲覧下さい。<br>
      当サイトはログインせずに投稿の<br>
      閲覧が可能です。<br>
      (一部、機能が制限されます)<br>
      <br>
      <br>
      ご自身で投稿されたい方は<br>
      <%= link_to "こちら", new_member_session_path %>
      からログインして下さい。<br>
      <br>
      <br>
      また
      <%= link_to "こちら", member_guest_sign_in_path, method: :post %>
      からゲストとして機能を体験することも可能です。<br>
      (1時間後に自動的にログアウトされ、投稿内容も消去されます(未実装))
    </p>
  <% end %>
</div>