<div class="mt-2 text-center">
  <% if member_signed_in? %>
    <div class="card" style="font-size:15px;"><%= current_member.name %>でログイン中</div>
    <div class="my-2">
      <%= link_to image_tag(member.get_profile_image, size: '100x100', style: "border-radius: 50px;"), member_path(member.id) %><br>
      <%= link_to member.name, member_path(member.id) %>
    </div>
    <div class="d-flex justify-content-center">
      <div class="mx-1" id="following_count">
        <%= render "public/relationships/following_count", member: member %>
      </div>
      <div class="mx-1" id="follower_count">
        <%= render "public/relationships/follower_count", member: member %>
      </div>
    </div>
    <div id="follow">
      <%= render "public/relationships/follow_btn", member: member %>
    </div>
    <% if current_member == member && member.name != "guest_member" %>
      <div>
        <%= link_to edit_member_path(member.id), class:"btn btn-outline-secondary my-2" do %>
          プロフィールを編集 <i class="fas fa-cut"></i>
        <% end %>
      </div>
    <% end %>
    <%= link_to "お気に入りを開く",favorites_member_path(member), class:"btn btn-outline-secondary" %>
    <!--URLにcity_idが含まれる時のみ投稿フィールドを表示-->
    <% if request.parameters.include?("city_id") %>
      <%= render "public/shared/form", post: @post %>
    <% end %>

  <% elsif admin_signed_in? %>
    <p>管理者にてログイン中</p>
    <%= link_to "Report", admin_reports_path, class: 'btn btn-block btn-outline-dark' %>
    <%= link_to "Member", admin_root_path, class: 'btn btn-block btn-outline-dark my-2' %>
    <%= link_to "Post", posts_path, class: 'btn btn-block btn-outline-dark' %>
    <%= link_to "Logout", destroy_admin_session_path, class: 'btn btn-block btn-outline-dark mt-2', method: :delete %>
    </ul>
  <% else %>
    <p>
      初めてご利用される方は
      <%= link_to "こちら", about_path %>
      から利用方法を閲覧下さい。<br>
      当サイトはログインせずに投稿の<br>
      閲覧が可能です。<br>
      (一部、機能が制限されます)<br>
      <br>
      <br>
      ご自身で投稿されたい方は<br>
      <%= link_to "こちら", new_member_session_path %>
      からログインして下さい。<br>
      <br>
      <br>
      また
      <%= link_to "こちら", member_guest_sign_in_path, method: :post %>
      からゲストとして機能を体験することも可能です。<br>
      (30分ごとに自動で投稿内容が消去されます)<br>
      <br>
      <br>
      <%= link_to "こちら", "https://forms.gle/33iokvXNf15MUP3u5" %>
      から運営への問い合わせが可能です。<br>
      ログイン後はContactよりお願い致します。
    </p>
  <% end %>
</div>