<% if member_signed_in? %>
  <table>
    <thead>
      <tr>
        <th><%= image_tag member.get_profile_image, size: '100x100' %></th>
        <th><%= link_to member.name, member_path(member.id) %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= link_to "フォロー: " + member.followings.count.to_s, member_followings_path(member.id) %></td>
        <td><%= link_to "フォロワー: " + member.followers.count.to_s, member_followers_path(member.id) %></td>
      </tr>
        <tr>
          <td>
            <%= render "public/shared/follow_btn", member: member %>
          </td>
          <td>
            <% if current_member != member && current_member.following?(member) && member.following?(current_member) %>
              <%= link_to 'chatを始める', chat_path(member.id), class: "ml-3" %>
            <% end %>
          </td>
        </tr>
      <% if current_member == member %>
        <tr>
          <td><%= link_to "編集", edit_member_path(member.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>
    ログインしていなくても<br>
    投稿は見ることができます。<br>
    <br>
    ご自身で投稿するときは<%= link_to "こちら", new_member_session_path %><br>
    からログインして下さい。
  </p>
<% end %>