<div class="error"><%= flash[:error] %></div>
<div class="scroll">
  <div class="index_head d-flex justify-content-center flex-wrap">
    <% posts.each do |post| %>
      <div class="col-xs-2 card m-1" style="width:200px; height:250px;">
        <div class="m-2">
          <%= link_to image_tag(post.member.get_profile_image, size: '30x30', style:"border-radius: 20px;"), member_path(post.member.id) %>
          <%= link_to post.member.name, member_path(post.member.id) %>
        </div>
        <div class="card mx-auto" style="width:190px; height:180px;">
          <!--serch_pathにpref_idとcity_idを渡すことで、都道府県名と市区町村名それぞれの検索結果を表示-->
          <div>
            <%= link_to post.prefecture.name, search_path(prefecture_id: post.prefecture.id) %>
            <%= link_to post.city.name, search_path(prefecture_id: post.prefecture.id, city_id: post.city.id) %>
          </div>
          <!--タイトルが14文字に以上なら省略-->
          <div class="my-1"><%= link_to post.title.truncate(13), post_path(post.id) %></div>
          <!--投稿内容が62文字に以上なら省略定-->
          <div><%= post.body.truncate(57) %></div>
        </div>
        <!--コメント・いいねを投稿内下部に固定-->
        <div class="d-flex justify-content-between mt-auto mx-1">
          <div id="favorite_<%= post.id %>">
            <%= render "public/favorites/favorite_btn", post: post %>
          </div>
          <%= link_to "コメント " + post.comments.count.to_s + " 件", post_path(post.id) %>
          <%= link_to "通報", new_member_report_path(post.member.id) %>
        </div>
      </div>
    <% end %>
  </div>
  <% unless request.path.include?("favorites") %>
    <%= paginate @posts %>
  <% end %>
</div>

<!--https://toshpit.com/rails-jscroll-infinitescroll/　参照-->
<%= javascript_pack_tag 'jscroll' %>
<script>
  $(document).on('turbolinks:load', function() {
    $('.scroll').jscroll({ // 追加したdivのclass名と合わせる
      contentSelector: '.scroll',
      nextSelector: 'span.next a',  // 次ページリンクのセレクタ
      loadingHtml: '読み込み中',
      padding: 5
    });
  });
</script>