<div class="container">
  <div class="row">
    <div class="info col-md-3 card">
      <%= render "public/shared/info", member: current_member %>
    </div>
    <div class="col-md-8">
      <div class="card px-0">
        <div class="card-header">
          <h4>投稿一覧</h4>
        </div>
        <p class="tag">
          <%= link_to '投稿の新しい順', posts_path, class:"tag-item" %>
          <%= link_to '投稿の古い順', posts_path(old: "true"), class:"tag-item" %>
          <%= link_to 'いいねの多い順', posts_path(favorite_count: "true"), class:"tag-item" %>
          <%= link_to 'コメントの多い順', posts_path(comment_count: "true"), class:"tag-item" %>
        </p>
        <%= render 'public/posts/index', posts: @posts %>
        </div>
      </div>
    </div>
  </div>
</div>