<div class="container">
  <div class="row">
    <div class="info col-md-3 card mb-2">
      <%= render "public/shared/info", member: current_member %>
    </div>
    <div class="col-md-8">
      <div class="notice"><%= flash[:notice] %></div>
      <div class="error"><%= flash[:error] %></div>
      <div class="card px-0">
        <div class="card-header">
          <h4>投稿一覧</h4>
        </div>
        <p class="tag mt-1">
          <%= link_to '投稿の新しい順', posts_path(latest: "true"), class:"tag-item1" %>
          <%= link_to '投稿の古い順', posts_path(old: "true"), class:"tag-item2" %>
          <%= link_to 'いいねの多い順', posts_path(favorite_count: "true"), class:"tag-item3" %>
          <%= link_to 'コメントの多い順', posts_path(comment_count: "true"), class:"tag-item4" %>
          <%= link_to '閲覧数の多い順', posts_path(pv_count: "true"), class:"tag-item5" %>
        </p>
        <%= render 'public/posts/index', posts: @posts %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  jQuery(function() {

    //URL全体から「?」以降をparamsに格納
    params = location.href.split("?");

    //URLパラメータが存在した時、URL変更を実施
    if(params.length>1){
      //URLパラメータ情報を取得
      var url = decodeURI(location.search)
      //URLパラメータが latest だった場合
      if(url.includes("latest=true")) {
        $(".tag-item1").addClass("tag-active");
      //URLパラメータが old だった場合
      }else if(url.includes("old=true")) {
        $(".tag-item2").addClass("tag-active");
      //URLパラメータが favorite_count だった場合
      }else if(url.includes("favorite_count=true")) {
        $(".tag-item3").addClass("tag-active");
      //URLパラメータが comment_count だった場合
      }else if(url.includes("comment_count=true")) {
        $(".tag-item4").addClass("tag-active");
      //URLパラメータが pv_count だった場合
      }else if(url.includes("pv_count=true")) {
        $(".tag-item5").addClass("tag-active");
      }
    }
  });
</script>