<div class="container">
  <div class="row">
    <div class="info col-md-3 card">
      <%= render "public/shared/info", member: @post.member %>
    </div>
    <div class="col-md-6">
      <div class="error"><%= flash[:error] %></div>
      <div class="card">
        <div class="col-md-12 card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <%= render "public/posts/post_member", post: @post %>
            </li>
            <li class="list-group-item">
              <!--serch_pathにpref_idとcity_idを渡すことで、都道府県名と市区町村名それぞれの検索結果を表示-->
              <%= link_to @post.prefecture.name, search_path(prefecture_id: @post.prefecture.id) %>
              <%= link_to @post.city.name, search_path(prefecture_id: @post.prefecture.id, city_id: @post.city.id) %>
            </li>
            <li class="list-group-item">
              <%= link_to @post.title, post_path(@post.id) %>
            </li>
            <li class="list-group-item">
              <%= @post.body %>
            </li>
          </ul>
        </div>
        <!--いいねを投稿内下部に固定-->
        <div class="d-flex justify-content-between mt-auto">
          <div>
            <%= @post.created_at.strftime('%Y/%m/%d %H:%M') %>
          </div>
          <div class="d-flex">
            <div id="favorite_<%= @post.id %>">
              <%= render "public/favorites/favorite_btn", post: @post %>
            </div>
            <%= link_to "通報", new_member_report_path(@post.member.id) %>
          </div>
        </div>
      </div>
      <!--コメント表示-->
      <div id="comments">
        <%= render "public/comments/comments", post: @post %>
      </div>
      <div class="errors" style="color:#d83473;">
        <%= render "layouts/errors", obj: @comment %>
      </div>
      <div>
        <%= render "public/comments/comment_form", post: @post, comment: @comment %>
      </div>
    </div>