<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "public/shared/info", member: @post.member %>
    </div>
    <div class="col-md-8">
      投稿ユーザー:<%= link_to @post.member.name, member_path(@post.member_id) %><br>
      投稿タイトル:<%= link_to @post.title, post_path(@post.id) %><br>
      投稿内容:<br><%= @post.body %>
      <div>
        <div>
          <%= "コメント件数:" + @post.comments.count.to_s %>
          <%= render "public/shared/favorite_btn", post: @post %>
           <!--投稿メンバーまたは管理者のみ表示-->
          <% if @post.member == current_member || admin_signed_in? %>
            <%= link_to "投稿編集", edit_post_path(@post), class: "mx-3" %>
            <%= link_to "投稿削除", @post, method: :delete %>
          <% end %>
        </div>
        <% @post.comments.each do |comment| %>
          <%= image_tag comment.member.get_profile_image, size: "40x40" %>
          <%= comment.member.name %>さん
          <%= comment.created_at.strftime('%Y/%m/%d %H:%M') %>
          <% if comment.member == current_member || admin_signed_in? %>
            <%= link_to "コメントを削除", post_comment_path(comment.post, comment), method: :delete %>
          <% end %><br>
          コメント:<%= comment.comment %>
        <% end %>
      </div>
      <div>
        <% if member_signed_in? %>
          <%= form_with model: [@post, @comment] do |f| %>
            <%= f.text_area :comment, rows: '3', placeholder: "コメントを書く" %><br>
            <%= f.submit "送信する" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>