<div class="container">
  <div class="row">
    <div class="info col-md-3">
      <%= render "public/shared/info", member: @member %>
    </div>
    <div class="col-md-5">
      <div class="card">
        <div class="card-header">
          <h4>プロフィール編集</h4>
        </div>
        <div class="form-group">
          <%= form_with model: @member do |f| %>
            <%= f.label :"プロフィール画像" %><br>
            <%= f.file_field :profile_image, accept: "image/*" %><br>
            <%= f.label :"ユーザー名" %>
            <%= f.text_field :name, class:"form-control" %>
            <%= f.label :"メールアドレス" %>
            <%= f.text_field :email, class:"form-control" %>
            <%= f.radio_button :is_deleted, "false" %>
            <%= f.label :"有効" %>
            <%= f.radio_button :is_deleted, "true", class:"ml-4" %>
            <%= f.label :"退会" %><br>
            <%= f.button :type => "submit", style: "background: none;" do %>
              <i class="far fa-paper-plane"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>