<div class="container">
  <div class="row">
    <div class="info col-md-3 card mb-2">
      <%= render "public/shared/info", member: current_member %>
    </div>
    <div class="col-md-8 text-center">
      <div class="card">
        <div class="card-header">
          <h2>このサイト(ひこれす)について</h2>
        </div>
        <h5>
          <p>
            <h5>引っ越し先の地域を決める際の指標になるサイト</h5>
            <br>
            引越し先を選ぶ基準は人それぞれあると思います。<br>
            会社から近い場所を選んだり、家賃との兼ね合いで場所を考えたり、<br>
            リモートワークを推奨している会社ならあえて都会から離れた場所に住む等。<br>
            <br>
            事前にプラスの面、マイナスの面を知っていたらすごく心強いはずです。<br>
            このサイトはそんな引っ越しに対する不安感を少しでも解消できればという思いで作った、<br>
            ユーザー投稿型の地域情報共有サイトです
          </p>
        </h5>
      </div>
      <div class="card mt-5">
        <div class="card-header">
          <h2>ひこれす利用方法について</h2>
        </div>
        <h4>
          <p>情報を見たい都道府県名をクリック<br>
            <%= image_tag "explanation_1.png", class: "img-fluid" %><br>
            <br>
            右上のプルダウンから市区町村名で絞り込めます<br>
            <%= image_tag "explanation_2.png", class: "img-fluid" %><br>
            <br>
            市区町村ページから地域ごとの投稿が可能です(ログイン中のみ)
            <%= image_tag "explanation_3.png", class: "img-fluid" %><br>
            <br>
            <%= link_to "TOPに戻る", root_path, class: 'btn btn-block btn-outline-dark' %>
            <%= link_to "新規登録をする", new_member_registration_path, class: 'btn btn-block btn-outline-dark' %>
          </p>
        </h4>
      </div>
    </div>
  </div>
</div>