<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "public/shared/info", member: current_member %>
    </div>
    <div class="col-md-5">
      <div class="card px-0">
        <div class="card-header">
          <h5 class="text-center",id="room" data-room="<%= @room.id %>" data-member="<%= current_member.id %>"><%= @member.name %>さんとのメッセージ</h5>
        </div>
        <div class="errors">
          <%= render "layouts/errors", obj: @chat %>
        </div>
        <div class="chat mx-auto" style="width: 400px;">
          <% @chats.each do |chat| %>
            <% if chat.member_id == current_member.id %>
              <div class="d-flex justify-content-end my-2">
                <p class="my-auto m-1" style="background-color:#9EE9FA; border-radius: 4px;"><%= chat.chat %></p>
                <%= image_tag(current_member.get_profile_image, size: '30x30', style: "border-radius: 15px;") %>
              </div>
            <% else %>
              <div class="d-flex justify-content-start my-2">
                <%= image_tag(chat.member.get_profile_image, size: '30x30', style: "border-radius: 15px;") %>
                <p class="my-auto" style="background-color:#9EE9FA; border-radius: 4px;"><%= chat.chat %></p>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="text-center">
          <%= form_with model: @chat, data: {remote: true} do |f| %>
            <%= f.text_field :chat %>
            <%= f.hidden_field :room_id %>
            <%= f.button :type => "submit", style: "background: none;" do %>
              <i class="far fa-paper-plane"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>