<div class="container">
  <div class="row">
    <div class="info col-md-3 card">
      <%= render "public/shared/info", member: current_member %>
    </div>
    <div class="col-md-5">
      <div class="card">
        <div class="card-header">
          <h5 class="text-center",id="room" data-room="<%= @room.id %>" data-member="<%= current_member.id %>"><%= @member.name %>さんとのメッセージ</h5>
        </div>
        <div class="mx-auto my-3" id="chat">
          <% @chats.each do |chat| %>
            <% if chat.member_id == current_member.id %>
              <div class="d-flex justify-content-end my-2 py-2">
                <p class="my-auto m-1 px-1" style="background-color:#FFFFFF; border-radius: 4px;"><%= chat.chat %></p>
                <%= image_tag(current_member.get_profile_image, size: '30x30', style: "border-radius: 15px;") %>
              </div>
            <% else %>
              <div class="d-flex justify-content-start my-2 py-2">
                <%= image_tag(chat.member.get_profile_image, size: '30x30', style: "border-radius: 15px;") %>
                <p class="my-auto m-1 px-1" style="background-color:#FFFFFF; border-radius: 4px;"><%= chat.chat %></p>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="errors text-center" style="color:#d83473;">
          <%= render "layouts/errors", obj: @chat %>
        </div>
        <div class="text-center">
          <%= form_with model: @chat, data: {remote: true} do |f| %>
            <%= f.text_field :chat %>
            <%= f.hidden_field :room_id %>
            <%= f.button :type => "submit", style: "background: none;" do %>
              <i class="far fa-paper-plane"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!--https://qiita.com/kenta-nishimoto-1111/items/f58342c202d6c752c731　参照-->
<script>
  window.onload = function() {
  // ↪︎ windowがロードされた時にアクションを実行するように設定
  if (document.getElementById("chat")) {
    // ↪︎ areaのIDがある場合に処理を実行させる（これがないとチャット画面がなくても常にJavaScriptが動いてしまいます）
    var scrollPosition = document.getElementById("chat").scrollTop;
    // ↪︎ area要素のスクロールされた時の最も高い場所を取得
    var scrollHeight = document.getElementById("chat").scrollHeight;
    // ↪︎ area要素自体の最も高い場所を取得
    document.getElementById("chat").scrollTop = scrollHeight;
    // ↪︎ area要素のスクロールされた時の最も高い場所をarea要素自体の最も高い場所として指定してあげる
  }
}
</script>