<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "public/shared/info", member: current_member %>
    </div>
    <div class="col-md-7">
      <table class="table">
        <thead>
          <tr>
            <th>id</th>
            <th>ユーザー名</th>
            <th>フォロー</th>
            <th>フォロワー</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @members.each do |member| %>
            <tr>
              <td><%= member.id %></td>
              <td><%= link_to member.name, member_path(member.id) %></td>
              <td><%= link_to "フォロー: " + member.followings.count.to_s, member_followings_path(member.id) %></td>
              <td><%= link_to "フォロワー: " + member.followers.count.to_s, member_followers_path(member.id) %></td>
              <td>
                <%= render "public/shared/follow_btn", member: member %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>