<table class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>ユーザー名</th>
      <th>メール</th>
      <th>フォロー</th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.id %></td>
        <td><%= member.name %></td>
        <td><%= member.email %></td>
        <td>
          <% if current_member.following?(member) %>
            <%= button_to "リフォロー", member_relationships_path(member.id), method: :delete %>
          <% else %>
            <%= button_to "フォロー", member_relationships_path(member.id), method: :post %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>