<div class="container">
  <div class="row">
    <div class="info col-md-3 card">
      <%= render "public/shared/info", member: current_member %>
    </div>
    <div class="col-md-5">
      <div class="errors text-center">
        <div class="mb-3" style="font-size:20px; color:#FF0000;"><%= flash[:error] %></div>
        <%= render "public/shared/error_messages", resource: resource %>
      </div>
      <div class="card px-0">
        <div class="card-header">
          <h4>新規登録</h4>
        </div>
        <div class="form-group">
          <%= form_with model: @member, url: member_registration_path do |f| %>
            <%= f.label:"ユーザー名(2〜10文字)" %><br>
            <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control"  %>
            <%= f.label:"メールアドレス" %><br>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            <div class="field">
            <%= f.label :パスワード %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %>文字以上)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
            </div>
            <div class="field">
              <%= f.label :パスワード確認 %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
            </div>
            <div class="my-2">
              <%= recaptcha_tags %>
            </div>
            <%= f.button :type => "submit", style: "background: none;" do %>
              <i class="fas fa-user-plus"></i>
            <% end %>
          <% end %>
          <%= render "public/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
