<div class="container">
  <div class="row">
    <div class="info col-md-3 card">
      <%= render "public/shared/info", member: current_member %>
    </div>
    <div class="col-md-8">
      <div class="notice"><%= flash[:notice] %></div>
        <div class="card px-0">
          <div class="card-header">
            <!--都道府県・市区町村・内容のうちどれで検索しているか判別し表示結果を分岐-->
            <% if @content != nil %>
              <h5 class="my-auto">"<%= @content %>"での検索結果 全 <%= @records_count %> 件</h5>
            <% elsif @city != nil %>
              <div class="d-flex justify-content-between">
                <h5 class="my-auto">"<%= Prefecture.find(@prefecture).name %> <%= City.find(@city).name %>"での検索結果 全 <%= @records_count %> 件</h5>
                <div>
                  <%= link_to "戻る", search_path(prefecture_id: @prefecture), class: 'btn btn-sm btn-outline-dark' %>
                </div>
              </div>
            <% else %>
              <div class="d-flex justify-content-between">
                <h5 class="my-auto">"<%= Prefecture.find(@prefecture).name %>"での検索結果 全 <%= @records_count %> 件</h5>
                <div>
                  追加で絞り込む
                  <%= form_with url: search_path(model:"post"), method: :get, local: true do |f| %>
                    <%= f.hidden_field :prefecture_id, :value => @prefecture %>
                    <%= f.collection_select(:city_id, City.where(prefecture_id: @prefecture), :id, :name, {class: "select-box", id:"item-city"}) %>
                    <%= button_tag type: "submit",class: "btn btn-light" do %>
                      <i class="fas fa-search"></i>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
          <p class="tag mt-1">
            <% if @content != nil %>
              <%= link_to '新しい順', search_path(content: @content, latest: "true"), class:"tag-item1" %>
              <%= link_to '古い順', search_path(content: @content, old: "true"), class:"tag-item2" %>
              <%= link_to 'いいねの多い順', search_path(content: @content, favorite_count: "true"), class:"tag-item3" %>
              <%= link_to 'コメントの多い順', search_path(content: @content, comment_count: "true"), class:"tag-item4" %>
            <% elsif @city != nil %>
              <%= link_to '新しい順', search_path(prefecture_id: @prefecture, city_id: @city, latest: "true"), class:"tag-item1" %>
              <%= link_to '古い順', search_path(prefecture_id: @prefecture, city_id: @city, old: "true"), class:"tag-item2" %>
              <%= link_to 'いいねの多い順', search_path(prefecture_id: @prefecture, city_id: @city, favorite_count: "true"), class:"tag-item3" %>
              <%= link_to 'コメントの多い順', search_path(prefecture_id: @prefecture, city_id: @city, comment_count: "true"), class:"tag-item4" %>
            <% else %>
              <%= link_to '新しい順', search_path(prefecture_id: @prefecture, latest: "true"), class:"tag-item1" %>
              <%= link_to '古い順', search_path(prefecture_id: @prefecture, old: "true"), class:"tag-item2" %>
              <%= link_to 'いいねの多い順', search_path(prefecture_id: @prefecture, favorite_count: "true"), class:"tag-item3" %>
              <%= link_to 'コメントの多い順', search_path(prefecture_id: @prefecture, comment_count: "true"), class:"tag-item4" %>
            <% end %>
          </p>
        <%= render 'public/posts/index', posts: @records %>
      </div>
    </div>
  </div>
</div>

<script>
  jQuery(function() {

  //URL全体から「?」以降をparamsに格納
  params = location.href.split("?");

  //URLパラメータが存在した時、URL変更を実施
  if(params.length>1){
    //URLパラメータ情報を取得
    var url = decodeURI(location.search)
    //URLパラメータが latest だった場合
    if(url == "?latest=true") {
      $(".tag-item1").addClass("tag-active");
    //URLパラメータが old だった場合
    }else if(url == "?old=true") {
      $(".tag-item2").addClass("tag-active");
    //URLパラメータが favorite_count だった場合
    }else if(url == "?favorite_count=true") {
      $(".tag-item3").addClass("tag-active");
    //URLパラメータが comment_count だった場合
    }else if(url == "?comment_count=true") {
      $(".tag-item4").addClass("tag-active");
    }
  }
});
</script>