<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "public/shared/info", member: current_member %>
    </div>
    <div class="col-md-8 card px-0">
      <div class="card-header">
        <!--都道府県・市区町村・内容のうちどれで検索しているか判別し表示結果を分岐-->
        <% if @content != nil %>
          <h3 class="my-auto">"<%= @content %>"での検索結果 <%= @records.count %> 件</h3>
        <% elsif @city != nil %>
          <h3 class="my-auto">"<%= City.find(@city).name %>"での検索結果 <%= @records.count %> 件</h3>
        <% else %>
          <div class="d-flex justify-content-between">
            <h3 class="my-auto"><%= Prefecture.find(@prefecture).name %>"での検索結果 <%= @records.count %> 件</h3>
            <div>
              追加で絞り込む
              <%= form_with url: search_path(model:"post"), method: :get, local: true do |f| %>
                <%= f.hidden_field :prefecture_id, :value => @prefecture %>
                <%= f.collection_select(:city_id, City.where(prefecture_id: @prefecture), :id, :name, {class:"select-box", id:"item-city"}) %>
                <%= button_tag type: "submit", class: "btn btn-light" do %>
                  <i class="fas fa-search"></i>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>


      <%= render 'public/posts/index', posts: @records %>
    </div>
  </div>
</div>
