<div class="container">
  <div class="row">
    <div class="info col-md-3">
      <%= render "public/shared/info", member: current_member %>
    </div>
    <div class="col-md-5">
      <div class="mb-3" style="font-size:20px; color:#FF0000;"><%= flash[:error] %></div>
      <div class="card px-0">
        <div class="card-header">
          <h4>ログイン</h4>
        </div>
        <div class="form-group">
          <%= form_with model: @member, url: member_session_path do |f| %>
            <%= f.label:"メールアドレス" %><br>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            <%= f.label:"パスワード" %>
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
            <% if devise_mapping.rememberable? %>
              <%= f.check_box :remember_me %>
              <%= f.label:remember_me %><br>
            <% end %>
            <%= f.button :type => "submit", class: "mt-3", style: "background: none;" do %>
              <i class="fas fa-sign-in-alt"></i>
            <% end %>
          <% end %>
          <%= render "public/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
