<header>
  <div class="container-fluid header-bar">
    <%= link_to image_tag("logo.png", size: '144x60'), root_path %>
    <!--sp-menu表示時にmain要素をクリックできないようにする-->
    <div id="main_hidden"></div>
    <!--ハンバーガーメニュークリック時に表示される-->
    <ul class="navbar-nav list-group-horizontal" id="sp-menu">
      <!--管理者ログイン時の表示-->
      <% if admin_signed_in? %>
      <!--メンバーログイン時の表示-->
      <% elsif member_signed_in? %>
        <li><%= link_to "Post", posts_path(latest: "true") %></li>
        <li><%= link_to "Member", members_path %></li>
        <li><%= link_to "Guide", about_path %></li>
        <li><%= link_to "Contact", "https://forms.gle/33iokvXNf15MUP3u5" %></li>
        <li><%= link_to "Logout", destroy_member_session_path, method: :delete %></li>
      <!--未ログイン時の表示-->
      <% else %>
        <li><%= link_to "Post", posts_path(latest: "true") %></li>
        <li><%= link_to "Member", members_path %></li>
        <li><%= link_to "Guide", about_path %></li>
        <li><%= link_to "Signup", new_member_registration_path %></li>
        <li><%= link_to "Login", new_member_session_path %></li>
        <li><%= link_to "Guest", member_guest_sign_in_path, method: :post %></li>
      <% end %>
      <li><%= render 'searchs/search' %></li>
    </ul>
    <!--ハンバーガーメニューのアイコン-->
    <div id="hm-icon">
      <a class="menu-trigger" href="#">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>
  </div>
</header>
<!--ハンバーガーメニューの動作-->
<script>
  $(function() {
    $('.menu-trigger').on('click', function(event) {
      $(this).toggleClass('active');
      $('#main_hidden').fadeToggle();
      $('#sp-menu').fadeToggle();
      //main_hiddenをクリックするとsp-menuが閉じる
    	if($('.menu-trigger').hasClass('active')){
    		$('#main_hidden').on('click',function() {
      		$('.menu-trigger').removeClass('active');
      		$('#main_hidden').fadeOut();
      		$('#sp-menu').fadeOut();
    	  });
    	};
    	event.preventDefault();
    });
  });
</script>
<!--ブラウザバック時に強制リロードする(メニューを開いたままブラウザバックすると、メニューが開いた状態で表示される為回避策)-->
<script>
  window.addEventListener('popstate', function (e) {
    window.location.reload();
  });
</script>